.blog-list {
	margin-block-start: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5em;
	justify-items: center;

	@media (max-width: 650px) {
		grid-template-columns: 1fr;
	}

	article {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		position: relative;
		max-width: 320px;
		padding: 0;

		img {
			width: 100%;
			aspect-ratio: 16 / 9;
			object-fit: cover;
		}

		div {
			padding: 0.8em 1em;
			display: flex;
			flex-direction: column;
			gap: 0.4em;
		}

		header {
			display: flex;
			flex-direction: column;
			gap: 0.4em;
		}

		h2 {
			font-size: 1em;
			margin: 0;
		}

		time {
			font-size: 0.6em;
		}

		p {
			font-size: 0.8em;
			margin: 0;
		}

		a {
			position: absolute;
			inset: 0;
			border-radius: inherit;
			transition: outline 0.2s ease;

			&:focus {
				outline: var(--clr-focus) solid var(--btn-focus);
				outline-offset: calc(var(--btn-focus) * -1);
			}
		}
	}
}

.blog-post-image {
	width: 100%;
	padding: 0;
	aspect-ratio: 16 / 9;
	object-fit: cover;
}

.blog-post-header {
	margin-block: 2.2em;
	display: flex;
	flex-direction: column;
	gap: 1em;

	h1 {
		margin: 0;
	}

	time {
		font-size: 0.8em;
	}
}
