.hp-text h1 {
	line-height: 1.2;
	font-weight: 700;
	font-variation-settings: "wght" 700;
	font-size: 2rem;
}

.hp-text a {
	margin-top: 0.6rem;
}

.hp-image {
	position: relative;
	display: grid;
	place-items: center;
}

.hp-image * {
	position: absolute;
	filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.7));
	user-select: none;
	pointer-events: none;
}

.hp-image :first-child {
	width: 25rem;
}

.hp-image :last-child {
	width: 15rem;
}

.hp-footer-inner,
.hp-footer-outer {
	display: none;
}

@media (max-width: 55rem) {
	.hp-content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}

	.hp-image {
		order: -1;
		z-index: -1;
		height: 25rem;
	}

	.hp-image :first-child {
		top: 6rem;
	}
	.hp-image :last-child {
		top: 0;
	}

	.hp-text {
		flex-grow: 1;
		color: var(--clr-accent-light);
		background-image: linear-gradient(
			to bottom right,
			#37404f,
			var(--clr-accent-dark)
		);
		filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.7));
		margin-inline: -1.5rem;
		padding-inline: 1.5rem;

		clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 100%);
		padding-top: 6rem;
		margin-top: -10rem;
	}

	.hp-footer-inner {
		display: block;
	}
}

@media (min-width: 55rem) {
	.hp-content {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		gap: 5rem;
	}

	.hp-image {
		height: 100%;
	}

	.hp-image :first-child {
		top: 2.5rem;
	}

	.hp-image :last-child {
		top: -2.5rem;
		z-index: 9999;
	}

	.hp-footer-outer {
		display: block;
		position: relative;
		z-index: 9999;
		color: var(--clr-accent-light);
		background-color: var(--clr-accent-dark);
		background-image: linear-gradient(
			to bottom right,
			#37404f,
			var(--clr-accent-dark)
		);
		filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.7));

		clip-path: polygon(0 6rem, 100% 0, 100% 100%, 0 100%);
		padding-top: 6.8rem;
		margin-top: -2rem;
	}
}
