:root {
	// fonts

	--font: Inter, sans-serif;
	@supports (font-variation-settings: normal) {
		--font: Inter Variable, sans-serif;
	}

	// miscellaneous

	--btn-height: 2.25rem;
	--btn-radius: 0.375rem;
	--btn-focus: 0.125rem;

	--card-radius: calc(var(--btn-radius) * 2.5);

	--shadow: 0 0 0 1px rgba(0, 0, 0, 0.03), 0 1px 3px 1px rgba(0, 0, 0, 0.07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);

	// colors

	--clr-accent: #1c71d8;
	--clr-bg-accent: #3584e4;
	--clr-fg-accent: #ffffff;
	--clr-gradient-accent: linear-gradient(to bottom, hsl(213, 76%, 60%), hsl(213, 76%, 50%));

	--clr-destructive: #c01c28;
	--clr-bg-destructive: #e01b24;
	--clr-fg-destructive: #ffffff;

	--clr-success: #26a269;
	--clr-bg-success: #2ec27e;
	--clr-fg-success: #ffffff;

	--clr-warning: #ae7b03;
	--clr-bg-warning: #e5a50a;
	--clr-fg-warning: rgba(0, 0, 0, 0.8);

	--clr-error: #c01c28;
	--clr-bg-error: #e01b24;
	--clr-fg-error: #ffffff;

	--clr-bg-window: #fafafa;
	--clr-fg-window: rgba(0, 0, 0, 0.8);

	--clr-bg-view: #ffffff;
	--clr-fg-view: rgba(0, 0, 0, 0.8);

	--clr-bg-headerbar: #ebebeb;
	--clr-fg-headerbar: rgba(0, 0, 0, 0.8);
	--clr-shade-headerbar: rgba(0, 0, 0, 0.07);

	--clr-bg-card: #ffffff;
	--clr-fg-card: rgba(0, 0, 0, 0.8);
	--clr-shade-card: rgba(0, 0, 0, 0.07);

	--clr-btn: rgba(0, 0, 0, 0.08);
	--clr-btn-separator: rgba(0, 0, 0, 0.1);
	--clr-focus: rgba(28, 113, 216, 0.5);

	--clr-link-visited: #89529b;

	@media (prefers-color-scheme: dark) {
		--clr-accent: #78aeed;
		--clr-bg-accent: #3584e4;
		--clr-fg-accent: #ffffff;
		--clr-gradient-accent: linear-gradient(to bottom, hsl(213, 76%, 60%), hsl(213, 76%, 50%));

		--clr-destructive: #ff7b63;
		--clr-bg-destructive: #c01c28;
		--clr-fg-destructive: #ffffff;

		--clr-success: #8ff0a4;
		--clr-bg-success: #26a269;
		--clr-fg-success: #ffffff;

		--clr-warning: #f8e45c;
		--clr-bg-warning: #cd9309;
		--clr-fg-warning: rgba(0, 0, 0, 0.8);

		--clr-error: #ff7b63;
		--clr-bg-error: #c01c28;
		--clr-fg-error: #ffffff;

		--clr-bg-window: #242424;
		--clr-fg-window: #ffffff;

		--clr-bg-view: #1e1e1e;
		--clr-fg-view: #ffffff;

		--clr-bg-headerbar: #303030;
		--clr-fg-headerbar: #ffffff;
		--clr-shade-headerbar: rgba(0, 0, 0, 0.36);

		--clr-bg-card: rgba(255, 255, 255, 0.08);
		--clr-fg-card: #ffffff;
		--clr-shade-card: rgba(0, 0, 0, 0.36);

		--clr-btn: rgba(255, 255, 255, 0.1);
		--clr-btn-separator: rgba(255, 255, 255, 0.2);
		--clr-focus: rgba(120, 174, 237, 0.5);

		--clr-link-visited: #c796b6;
	}
}
