@import url('syntax-light.css') (prefers-color-scheme: light);
@import url('syntax-dark.css') (prefers-color-scheme: dark);

pre.z-code {
	border-radius: 0.4rem;
	background: none;
	box-shadow: 0 0 0.3rem rgba(0,0,0,.5);
	overflow-x: scroll;
}

pre.z-code > code {
	display: block;
	min-width: max-content;
	padding: 0.2rem 0.4rem;
	border-radius: inherit;

	mark {
		display: block;
		margin-inline: -1rem;
		padding-inline: 1rem;

		background-color: #fcedb6;
		@media (prefers-color-scheme: dark) {
			background-color: #342F1C;
			color: #dcdcdc;
		}
	}

	table { border-spacing: 0; }
	td { padding: 0; border: none; }
	td:first-child { user-select: none; }
	td:last-child {
		padding-inline-start: 0.6rem;
		width: 100%;
	}
	tr { background: none; }
}
