@import url('syntax-light.css') (prefers-color-scheme: light);
@import url('syntax-dark.css') (prefers-color-scheme: dark);

pre.z-code {
	padding: 0.8rem 1rem;
	border-radius: 0.6rem;
	box-shadow: 0 0 0.5rem rgba(0,0,0,.7);
	overflow-x: scroll;

	mark {
		display: block;
		margin-inline: -1rem;
		padding-inline: 1rem;

		background-color: #fcedb6;
		@media (prefers-color-scheme: dark) {
			background-color: #342F1C;
			color: #dcdcdc;
		}
	}

	table { border-spacing: 0; }
	td { padding: 0; }
	td:last-child {
		padding-inline-start: 0.8rem;
		width: 100%;
	}
}
