{%- import 'l10n.html' as l10n -%}

{% set description = load_data(path = l10n::get(key = 'home_about_content')) %}

<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta name="description" content="{{ description | markdown | striptags }}" />
		<meta name="author" content="Vojtěch Perník" />
		<meta
			name="keywords"
			content="{{ l10n::get(key = 'keywords') }}"
		/>

		<link rel="manifest" href="{{ get_url(path = 'manifest.json') }}">

		<meta property="og:site_name" content="pervoj">
		{% block metatags -%}
			<meta
				property="og:title"
				content="
				{%- if page.title -%}
					{{ page.title }}
				{%- elif section.title -%}
					{{ section.title }}
				{%- else -%}
					Vojtěch Perník
				{%- endif %}"
			/>
			<meta
				property="og:image"
				content="{{ get_url(path = 'images/adwaita-l.png') }}"
			/>
		{%- endblock %}
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="600">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@pervojcz">

		{% if lang == "en" -%}
			{%- set rss = "atom.xml" -%}
		{%- else -%}
			{%- set rss = "cs/atom.xml" -%}
		{%- endif -%}
		<link
			rel="alternate"
			type="application/atom+xml"
			href="{{ get_url(path = rss) }}"
		/>
		<link
			rel="alternate"
			hreflang="en"
			href="{{ l10n::current_url(l = 'en') }}"
		/>
		<link
			rel="alternate"
			hreflang="cs"
			href="{{ l10n::current_url(l = 'cs') }}"
		/>
		<link rel="manifest" href="{{ get_url(path = 'site.webmanifest') }}" />
		<link rel="icon" type="image/svg+xml" href="{{ get_url(path = 'images/favicon.svg') }}" />
		<link rel="icon" type="image/x-icon" href="{{ get_url(path = 'favicon.ico') }}" />
		<link rel="stylesheet" href="{{ get_url(path = 'main.css') }}" />

		<script src="{{ get_url(path = 'main.js') }}" type="module"></script>

		<title>
			{%- if page.title -%}
				{{ page.title }} –
			{%- elif section.title -%}
				{{ section.title }} –
			{%- endif %} Vojtěch Perník
		</title>
	</head>
	<body>
		<a href="#main-content" class="skip-to-content">
			{{ l10n::get(key = 'skip_to_content') }}
		</a>

		{% block content %}{% endblock %}
	</body>
</html>
