{% extends 'base.html' %}

{% block metatags %}

{# it's twice here, but it's the best solution for now #}

{%- set image = page.extra.image | default(value = 'images/post-no-image.png') -%}
{%- set imagePath = image | replace(from = 'static/', to = '') -%}
{%- set imageUrl = get_url(path = imagePath) -%}

<meta property="og:title" content="{{ page.title }}" />
<meta
	property="og:description"
	content="{{ page.extra.description | default(value = '') }}"
/>
<meta property="og:image" content="{{ imageUrl }}" />
<meta property="og:locale" content="{{ lang }}" />
<meta property="og:type" content="article" />

{% endblock %}

{% block content %}

<header class="site-header">
	{% include 'partials/navbar.html' %}
</header>

{% set image = page.extra.image | default(value = '/images/post-no-image.png') -%}
<img class="blog-post-image" src="{{ get_url(path = image) }}" alt="">

<main id="main-content" class="container">
	<header class="blog-post-header" style="--image: url('{{ image }}')">
		<h1>{{ page.title }}</h1>
		<time datetime="{{ page.date }}">
			{{ page.date | date(format = l10n::get(key = 'date')) }}
		</time>
	</header>

	<article>
		{{ page.content | safe }}
	</article>
</main>

<footer class="site-footer">
	{% include 'partials/footer.html' %}
</footer>

{% endblock %}
