{% extends 'base.html' %}

{% block content %}

<header class="site-header">
	{% include 'partials/navbar.html' %}
</header>

<main id="main-content" class="container">
	<header>
		{{ section.content | safe }}
	</header>

	<section>
		<div class="blog-list">
			{% for post in section.pages -%}
				{% set image = post.extra.image | default(value = '/images/adwaita-l.png') -%}
				<article class="card activatable">
					<img src="{{ get_url(path = image) }}" alt="">
					<div>
						<header>
							<time datetime="{{ post.date }}">
								{{ post.date | date(format = l10n::get(key = 'date')) }}
							</time>
							<h2>{{ post.title }}</h2>
						</header>
						{% if post.extra.description -%}
							<p>{{ post.extra.description }}</p>
						{%- endif %}
					</div>
					<a
						href="{{ post.permalink }}"
						aria-label="{{ post.title }}"
					></a>
				</article>
			{%- endfor %}
		</div>
	</section>
</main>

<footer class="site-footer">
	{% include 'partials/footer.html' %}
</footer>

{% endblock %}
