{% extends 'base.html' %}

{% block content %}

<header class="hero">
	{% include 'partials/navbar.html' %}

	<div class="container hero-content">
		<h1 class="visually-hidden">Vojtěch Perník</h1>

		<p>{{ l10n::get(key = 'hero_title') }}</p>

		{% include 'home/socials.html' %}
	</div>
</header>

<main id="main-content" class="container">
	{% include 'home/projects.html' %}
	{% include 'home/about.html' %}
</main>

<footer class="site-footer">
	{% include 'partials/footer.html' %}
</footer>

{% endblock %}
