{# translate a string in the current language (lang) by looking
up a key in the config.extra.l10n.lang. #}
{%- macro get(key) -%}
	{{ config.extra.l10n[lang][key] | default(value = key) | safe }}
{%- endmacro -%}

{%- macro url(path) %}{{ get_url(path = path, lang = lang) }}{% endmacro -%}

{%- macro trim_slash(value) -%}
	{{ value | trim_start_matches(pat = '/') | trim_end_matches(pat = '/') }}
{%- endmacro -%}

{%- macro current_url(l) -%}
	{%- if current_path -%}
		{%- set path = l10n::trim_slash(value = current_path) -%}
		{%- if path == lang -%}
			{%- set path = '' -%}
		{%- else -%}
			{%- set path = path | trim_start_matches(pat = lang ~ '/') -%}
		{%- endif -%}
		{{ get_url(path = path, lang = l) }}
	{%- endif -%}
{%- endmacro -%}
