{%- macro lang(url) -%}
	{%- set langs = ['en', 'cs'] -%}

	{%- set lang = url | split(pat = '/') -%}
	{%- set lang = lang[3] -%}

	{%- if langs is containing(lang) -%}
		{{ lang }}
	{%- else -%}
		en
	{%- endif -%}
{%- endmacro -%}

{%- macro base(url) -%}
	{%- set langs = ['en', 'cs'] -%}

	{%- set splt = url | split(pat = '/') -%}
	{%- set lang = splt[3] -%}

	{%- if langs is containing(lang) -%}
		{{ splt[0] }}//{{ splt[2] }}/{{ splt[3] }}/
	{%- else -%}
		{{ splt[0] }}//{{ splt[2] }}/
	{%- endif -%}
{%- endmacro -%}
