---
import Layout from "./Layout.astro";
import Header from "../components/partials/Header.astro";
import Footer from "../components/partials/Footer.astro";

export type Props = {
  title?: string;
  active?: string;
  image?: string | URL;
};

const { title, active, image } = Astro.props;
---

<Layout title={title} image={image}>
  <Header active={active} />
  <main class="container">
    <slot />
  </main>
  <Footer />
</Layout>
